body,
html {
	width: 100%;
	height: 100%;
	font-family: 'Koulen', cursive;
	background: url(background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
  	background-size: cover;
}

h1 {
	text-align: center;
	color: white;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.buffer {
	height: 50px;
}

.btn {
	font-size: 25px;
}


.btn-xl {
	padding: 1rem 2rem;
}



